{% extends "base.html" %}

{% block title %}{% trans 'Page Not found' %}{% endblock %}

{% block content %}
<h1>{% trans 'Page Not found' %}</h1>

<p>{% trans 'This is not the page you were looking for.' %}</p>
{% endblock content %}
